.container {
  top: 0;
  z-index: 79;
  position: fixed;
  display: flex;
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  box-sizing: border-box;
  background-color: #17212f;
  box-shadow: 1px 10px 10px #c3d1ee96;
  font-size: 1.4rem;
  justify-content: center;
}


#logo{
    height: 3.7rem;
}


@media (max-width: 700px) {
  .menus{
    display: none;
  }
  .Login{
    display: none;
  }
}

@media (min-width: 700px){
  app-sidebar{
    display: none;
  }
}