<div class="container">
    <p-card>
        {{choosedWord? choosedWord[0].word: 'Escolha uma palavra' }}
        {{choosedWord? choosedWord[0].phonetic : '' }}
        {{mp3SpeachWord}}
    </p-card>

    <audio controls *ngIf="mp3SpeachWord">
        <source src="{{mp3SpeachWord}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <div class="card">
        <p-tabView styleClass="tabview-custom">
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="pi pi-list"></i>
                    <span>Word List</span>
                </ng-template>
                <div>
                    <p-scroller [items]="englishWords" scrollHeight="200px" [itemSize]="5">
                        <ng-template pTemplate="item" let-item let-options="options">
                            <button pButton pRipple type="button" (click)="searchWord(item.atributo)"
                                styleClass="p-button-sm p-button-text"
                                class="p-button-outlined p-button-text">{{item.atributo}}</button>
                        </ng-template>
                    </p-scroller>
                </div>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="pi pi-history"></i>
                    <span>History</span>
                </ng-template>
                <ng-template pTemplate="content">
                    <p-scroller [items]="history" scrollHeight="200px" [itemSize]="5">
                        <ng-template pTemplate="item" let-item let-options="options">
                            <button pButton pRipple type="button" (click)="searchWord(item.word)"
                                styleClass="p-button-sm p-button-text"
                                class="p-button-outlined p-button-text">{{item.word}}</button>
                        </ng-template>
                    </p-scroller>
                </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Header III">
                <ng-template pTemplate="header">
                    <i class="pi pi-heart-fill"></i>
                    <span>Favorites</span>
                </ng-template>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti
                    atque corrupti quos dolores et quas molestias excepturi sint occaecati
                    cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est
                    laborum et
                    dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>