<div class="container">
    <p-card class="mainCard">
        <div class="aligninMainCardItems">
            <div class="alignMainCardWords">
                <div>
                    {{choosedWord? choosedWord[0].word: 'Escolha uma palavra' }}
                </div>
                <div>
                    {{choosedWord? choosedWord[0].phonetic : '' }}
                </div>
            </div>
            <button pButton pRipple type="button" icon="pi pi-heart"
                class="p-button-rounded p-button-help p-button-text" *ngIf="choosedWord && !ExistsFavoriteWord"
                (click)="addFavorite(choosedWord[0].word)"></button>
            <button pButton pRipple type="button" icon="pi pi-heart-fill"
                class="p-button-rounded p-button-help p-button-text" *ngIf="choosedWord && ExistsFavoriteWord"
                (click)="removeFavorite(choosedWord[0].word)"></button>
        </div>
    </p-card>

    <p-card *ngIf="choosedWord" class="mainCard" id="meaningCard">
        <h3>Definição</h3>
        {{choosedWord[0].meanings[0].definitions[0].definition}}
    </p-card>

    <div *ngIf="mp3SpeachWord" id="meaningCard" class="aligninMainCardItems">
        <audio controls>
            <source src="{{mp3SpeachWord}}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <div *ngIf="!mp3SpeachWord && choosedWord">
            Não temos Audio disponível
        </div>
    </div>

    <div class="mainCard" id="meaningCard">
        <p-tabView styleClass="tabview-custom">
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="pi pi-list"></i>
                    <span>Word List</span>
                </ng-template>
                <div>
                    <p-scroller [items]="englishWords" scrollHeight="200px" [itemSize]="5">
                        <ng-template pTemplate="item" let-item let-options="options">
                            <button pButton pRipple type="button" (click)="searchWord(item.atributo)"
                                styleClass="p-button-sm p-button-text"
                                class="p-button-outlined p-button-text">{{item.atributo}}</button>
                        </ng-template>
                    </p-scroller>
                </div>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="pi pi-history"></i>
                    <span>History</span>
                </ng-template>
                <ng-template pTemplate="content">
                    <p-scroller [items]="history" scrollHeight="200px" [itemSize]="5">
                        <ng-template pTemplate="item" let-item let-options="options">
                            <button pButton pRipple type="button" (click)="searchWord(item.word)"
                                styleClass="p-button-sm p-button-text"
                                class="p-button-outlined p-button-text">{{item.word}}</button>
                        </ng-template>
                    </p-scroller>
                </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Header III">
                <ng-template pTemplate="header">
                    <i class="pi pi-heart-fill"></i>
                    <span>Favorites</span>
                </ng-template>
                <ng-template pTemplate="content">
                    <p-scroller [items]="favorite" scrollHeight="200px" [itemSize]="5">
                        <ng-template pTemplate="item" let-item let-options="options">
                            <button pButton pRipple type="button" (click)="searchWord(item.word)"
                                styleClass="p-button-sm p-button-text"
                                class="p-button-outlined p-button-text">{{item.word}}</button>
                        </ng-template>
                    </p-scroller>
                </ng-template>
            </p-tabPanel>
        </p-tabView>

    </div>
    <div class="p-inputgroup mainCard" id="searchInput">
        <input type="text" pInputText placeholder="Filte uma Palavra" #filterWord>
        <p-button label="Pesquisar" (click)="wordFilter(filterWord.value)"></p-button>
    </div>
</div>