:host ::ng-deep .tabview-custom { i, span { vertical-align: middle; } span { margin: 0 .5rem; }
} :host ::ng-deep .p-button { margin-right: .25rem;
} :host ::ng-deep .p-tabview p { line-height: 1.5; margin: 0;
}


.container {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    color: #fff;
  }


.mainCard{
  padding: 0 1rem 0 1rem;
}

.aligninMainCardItems{
  display: flex;
  justify-content: center;
  align-items: center;
}

#meaningCard{
  margin-top: 1rem;
}

#searchInput{
  margin: 1rem 0 1rem 0;

}

